Django==5.1.4
djangorestframework==3.15.2
django-allauth==65.3.1
django-cors-headers==4.6.0
django-environ==0.11.2
django-otp==1.5.4
django-redis==5.4.0
django-storages==1.14.2
Pillow==11.0.0
sqlparse==0.5.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.8
boto3==1.28.70
botocore==1.31.70
s3transfer>=0.7.0,<0.8.0
pytz==2023.3
tzdata==2023.3
python-dateutil==2.8.2
requests==2.31.0
urllib3==1.26.16
python-dotenv==1.0.1
drf-spectacular==0.26.5
gunicorn==21.2.0
whitenoise

